@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    font-family: 'Klarheit Kurrent', sans-serif;
    background-color: #F38332;
  }

  @font-face {
    font-family: 'SaladDays';
    src: url(/fonts/SaladDaysRegular.woff) format('woff');
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-BoldItalic.otf) format('opentype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Book.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-BookItalic.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Extrabold.otf) format('opentype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-ExtraboldItalic.otf) format('opentype');
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Extralight.otf) format('opentype');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-ExtralightItalic.otf) format('opentype');
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Italic.otf) format('opentype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-LightItalic.otf) format('opentype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-MediumItalic.otf) format('opentype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-Semibold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Klarheit Kurrent';
    src: url(/fonts/KlarheitKurrent-SemiboldItalic.otf) format('opentype');
    font-weight: 600;
    font-style: italic;
  }

  @keyframes loading-scale {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }

  .animate-loading-scale {
    animation: loading-scale 1.5s ease-in-out infinite;
  }
}

